body{
    background-color: rgb(238, 229, 234);
    text-align: center;
    
}
h1{
    color: green;
    padding-bottom: 50px;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(168, 48, 152);
    border-radius: 10px;
  }
  button:hover{
      cursor: pointer;
      color: greenyellow;

  }